body{
    background-color: rgb(48, 48, 48);
    color: white;
}

:root{
    --cor-hover: rgba(255,255,255, .2);
    --cor-bg: #000;
    --cor-font-menu: #eee;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu ul{
    background-color: var(--cor-bg);
}

.menu ul li{
    display: inline;
    position: relative;
}

.menu ul li a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: var(--cor-font-menu);
    transition: .5s;
}

.menu ul li a:hover{
    background-color: var(--cor-hover);
}

/* sub-Menu */

.menu ul ul{
    display: none;
    position: absolute;
    left: 0;
}

.menu ul li:hover ul{
display: block;
cursor: pointer;
}

.menu ul ul{
    width: 150px;
}

.menu ul ul li a{
    display: block;
}

.btn_play{
    border-radius: 100%;
}

.estrutura{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.objs{
    border: 1px solid;
}

.layout{
    border: 1px solid;
}

.layout canvas{
    border: 2px solid black;
    background-color:rgb(94, 94, 94);
}

.props{
    border: 1px solid;
}

 /* Remove default bullets */
 ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: white;
    display: inline-block;
    margin-right: 6px;
  }
